body {
  background-color: aliceblue;
}
h1,
h2 {
  color: #333;
}
.container {
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}
.grid-conatiner {
  display: grid;
  gap: 5px;
  border: 5px solid gray;
}
.box {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0px;
}
.box:nth-child(even) {
  background-color: rgb(209, 41, 41);
}
.box:nth-child(odd) {
  background-color: rgb(4, 127, 188);
}
